# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Notebook Checkpoints
.ipynb_checkpoints/
#DS_Store
*.DS_Store
**/*.DS_Store
#box_integration
box_integration/

# log files
**/*.log
# all zip files
**/*.zip

# ignore vs-code code-workspace files
*.code-workspace